{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
<h1>Media</h1>
<div>
<img src="{{ path('app_media_server', {'filename': '8934B048-4281-40A5-80D4-55285E6B9075'}) }}" alt="Test Image">
</div>

{% endblock %}
