{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block body %}
<h3>Documents</h3>

<ul>
    <li>
        Drawings
        <ul>
            <li>DTS</li>
            <li>DTA</li>
        </ul>
    </li>
    <li>
        LTR
        <ul>
            <li>IN</li>
            <li>OUT</li>
        </ul>
    </li>
    <li>
        CON
        <ul>
            <li>IN</li>
            <li>OUT</li>
        </ul>
    </li>
</ul>

{% endblock %}
