{% extends 'base.html.twig' %}

{% block title %}System Users{% endblock %}

{% block body %}

<h3>System Users</h3>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Email</th>
    <th>Roles</th>
</tr>
</thead>
<tbody>
{% for row in users %}
<tr>
<td>{{ row.id }}</td>
<td>{{ row.email }}</td>
<td>{{ row.roles | join(', ') }}</td>
</tr>
{% endfor %}
</tbody>    
</table>
{% endblock %}
